.container {
  width: 530px;
  height: 846px;
  margin-inline: auto;
  padding: 20px 40px;
  background-color: rgba(240, 128, 128, 0.39);
}

.cancel {
  position: absolute;
}

.logo {
  width: 108px;
  margin-inline: auto;

  &__img {
  }
}

.title {
  margin: 28px 0 8px 0;
  line-height: 43.2px;

  &__text {
    margin-top: 0;
  }
}
