<form class="form__container">
  <div class="form__item">
    <input class="form__input" placeholder="" type="text">
    <label class="form__label">{{label.name}}</label>
  </div>

  <!--  <div class="form__item">-->
  <!--    <input (click)="toggleLabel('name')" class="form__input" placeholder="{{placeholder.name}}" type="text">-->
  <!--    <label [ngClass]="{ 'hidden': labelVisibility['name'] }" class="form__label">{{label.name}}</label>-->
  <!--  </div>-->

  <div class="form__item">
    <input class="form__input" placeholder="" type="text">
    <label class="form__label">{{label.lastName}}</label>
  </div>

  <div class="form__item">
    <input class="form__input" placeholder="" type="text">
    <label class="form__label">{{label.email}}</label>
  </div>

  <div class="form__item">
    <input class="form__input" placeholder="" type="text">
    <label class="form__label">{{label.phone}}</label>
  </div>

  <div class="form__item">
    <input class="form__input" placeholder="" type="text">
    <label class="form__label">{{label.password}}</label>
    <img alt="#" class="visibility visible" height="17" ngSrc="assets/img/Visibility.svg" width="24">
    <!--    <img alt="#" class="no-visible" src="assets/img/no-Visibility.svg">-->
  </div>

  <div class="form__item">
    <input class="form__input" placeholder="" type="text">
    <label class="form__label">{{label.confirm}}</label>
    <img alt="#" class="visibility" height="17" ngSrc="assets/img/Visibility.svg" width="24">
  </div>

  <button class="btn">Sign up</button>
</form>
