<form class="form__container">
  <!--  <div class="form__item">-->
  <!--    <input class="form__input" placeholder="{{placeholder.name}}" type="text">-->
  <!--  </div>-->

  <div class="form__item">
    <input class="form__input" placeholder="" type="text">
    <label class="form__label">{{placeholder.name}}</label>
  </div>

  <div class="form__item">
    <input class="form__input" placeholder="" type="text">
    <label class="form__label">{{placeholder.lastName}}</label>
  </div>

  <div class="form__item">
    <input class="form__input" placeholder="" type="text">
    <label class="form__label">{{placeholder.email}}</label>
  </div>

  <div class="form__item">
    <input class="form__input" placeholder="" type="text">
    <label class="form__label">{{placeholder.phone}}</label>
  </div>

  <div class="form__item">
    <input class="form__input" placeholder="" type="text">
    <label class="form__label">{{placeholder.password}}</label>
    <img alt="#" class="visibility" height="17" ngSrc="assets/img/Visibility.svg" width="24">
  </div>

  <div class="form__item">
    <input class="form__input" placeholder="" type="text">
    <label class="form__label">{{placeholder.confirm}}</label>
    <img alt="#" class="visibility" height="17" ngSrc="assets/img/Visibility.svg" width="24">
  </div>

  <button class="btn">Sign up</button>
</form>
