.form {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__item {
    position: relative;
  }

  &__input {
    margin-top: 10px;
    padding-left: 16px;
    width: 448px;
    height: 64px;
    outline: 0;
    border: 1px solid #070A0F;
    border-radius: 4px;
    color: #070A0F;
    font-size: 24px;
    font-weight: 400;
    transition: all 300ms;

    &:focus,
    &:hover,
    &:active {
      border: 2px solid #070A0F;
    }

    &:focus + .form__label,
    &:not(:placeholder-shown) + .form__label {
      top: -5px;
      left: 10px;
      font-size: 20px;
      font-weight: 500;
      background-color: #ffffff;
      color: #070A0F;
      padding: 2px;
    }
  }

  &__label {
    padding: 5px 10px;
    pointer-events: none;
    position: absolute;
    transition: all 200ms;
    top: 22px;
    left: 10px;
    color: #070A0F80;
    font-size: 24px;
  }
}

.visibility {
  position: absolute;
  top: 34px;
  right: 17px;
}

.btn {
  margin-top: 32px;
  width: 400px;
  height: 64px;
  padding: 10px;
  border-radius: 4px;
  background: #00478F;
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  transition: all 300ms;

  &:hover {
    margin-top: 28px;
    width: 408px;
    height: 72px;
    border: 4px solid #042C54;
  }

  &:active {
    margin-top: 28px;
    width: 408px;
    height: 72px;
    background-color: #042C54;
    border: 4px solid #042C54;
  }
}
