<div class="header"></div>

<div class="product__container">
  <div class="product">
    <div class="product__photo">
      <div class="product__photo-more">
        <img alt="" class="product__photo-more-img" src="assets/img/product-card/img-2.png">
        <img alt="" class="product__photo-more-img" src="assets/img/product-card/img-3.png">
        <img alt="" class="product__photo-more-img" src="assets/img/product-card/img-4.png">
      </div>

      <img alt="" class="product__photo-img" src="assets/img/product-card/img-1.png">

      <div class="product__about-container">
        <div class="product__about-title-container">
          <div class="product__about-setting-container">
            <img alt="" class="product__about-setting" src="assets/img/product-card/Setting.svg">
          </div>

          <h3 class="product__about-title">A popular model of a modern bicycle</h3>
        </div>

        <div class="product__about">
          <p>Price</p>
          <p>1 000$</p>
        </div>

        <div class="product__about">
          <p>Dimensions</p>
          <p>24d</p>
        </div>

        <div class="product__about">
          <p>Condition</p>
          <p>New</p>
        </div>
      </div>
    </div>

    <div class="product__description-container">
      <div class="product__description-item">
        <h4 class="product__description-item-title">Description</h4>
        <p class="product__description-item-text">Breeds a bicycle. Brought from Europe. Everything is in good
          condition.Breeds a bicycle. Brought from Europe.
          Everything is in good condition.Breeds a bicycle. Brought from Europe. Everything is in good condition.</p>
      </div>

      <div class="product__description-item">
        <h4 class="product__description-item-title">Location</h4>
        <p class="product__description-item-text">Ternopil city</p>
      </div>
    </div>
  </div>

  <div class="profile__container">
    <!--    <div>-->
    <p class="profile__title">If you have any questions, please ask the seller.</p>
    <!--    </div>-->
    <div class="profile__img-container">
      <img alt="profile-img" class="profile__img" src="assets/img/profile/profile-img.png">
      <p class="profile__img-name">Jessica Hanson</p>
    </div>

    <div class="profile__description">
      <p>You can</p>
      <p>write a message</p>
    </div>

    <div class="profile__description">
      <p>or</p>
      <p>call +380 406 555 120</p>
    </div>
  </div>
</div>
