<div class="header"></div>

<div class="home__navigate-container">
  <div class="home__navigate">
    <p class="home__navigate-item">Home</p>
    <img alt="" class="home__navigate-img" src="assets/img/arrow-right.svg">
    <p class="home__navigate-item">Catalog</p>
  </div>
</div>

<div class="home__container">
  <div class="home__item-container" routerLink="/catalog/1">
    <img alt="img-1" class="home__item-img" src="assets/img/home-img/Img-1.png">

    <div class="home__item-about">
      <div class="home__item-price-container">
        <p class="home__item-price">1 000 $</p>
        <img alt="Favorite" src="assets/img/Favorite.svg">
      </div>

      <div class="home__item-title-container">
        <p class="home__item-title">A popular model of a modern...</p>
        <p class="home__item-time">24d</p>
      </div>
    </div>
  </div>

  <div class="home__item-container">
    <img alt="img-2" class="home__item-img" src="assets/img/home-img/Img-2.png">

    <div class="home__item-about">
      <div class="home__item-price-container">
        <p class="home__item-price">1 000 $</p>
        <img alt="Favorite" src="assets/img/Favorite.svg">
      </div>

      <div class="home__item-title-container">
        <p class="home__item-title">A popular model of a modern...</p>
        <p class="home__item-time">24d</p>
      </div>
    </div>
  </div>

  <div class="home__item-container">
    <img alt="img-3" class="home__item-img" src="assets/img/home-img/Img-3.png">

    <div class="home__item-about">
      <div class="home__item-price-container">
        <p class="home__item-price">1 000 $</p>
        <img alt="Favorite" src="assets/img/Favorite.svg">
      </div>

      <div class="home__item-title-container">
        <p class="home__item-title">A popular model of a modern...</p>
        <p class="home__item-time">24d</p>
      </div>
    </div>
  </div>
  <div class="home__item-container">
    <img alt="img-4" class="home__item-img" src="assets/img/home-img/Img-4.png">

    <div class="home__item-about">
      <div class="home__item-price-container">
        <p class="home__item-price">1 000 $</p>
        <img alt="Favorite" src="assets/img/Favorite.svg">
      </div>

      <div class="home__item-title-container">
        <p class="home__item-title">A popular model of a modern...</p>
        <p class="home__item-time">24d</p>
      </div>
    </div>
  </div>
  <div class="home__item-container">
    <img alt="img-5" class="home__item-img" src="assets/img/home-img/Img-5.png">

    <div class="home__item-about">
      <div class="home__item-price-container">
        <p class="home__item-price">1 000 $</p>
        <img alt="Favorite" src="assets/img/Favorite.svg">
      </div>

      <div class="home__item-title-container">
        <p class="home__item-title">A popular model of a modern...</p>
        <p class="home__item-time">24d</p>
      </div>
    </div>
  </div>
  <div class="home__item-container">
    <img alt="img-6" class="home__item-img" src="assets/img/home-img/Img-6.png">

    <div class="home__item-about">
      <div class="home__item-price-container">
        <p class="home__item-price">1 000 $</p>
        <img alt="Favorite" src="assets/img/Favorite.svg">
      </div>

      <div class="home__item-title-container">
        <p class="home__item-title">A popular model of a modern...</p>
        <p class="home__item-time">24d</p>
      </div>
    </div>
  </div>
  <div class="home__item-container">
    <img alt="img-7" class="home__item-img" src="assets/img/home-img/Img-7.png">

    <div class="home__item-about">
      <div class="home__item-price-container">
        <p class="home__item-price">1 000 $</p>
        <img alt="Favorite" src="assets/img/Favorite.svg">
      </div>

      <div class="home__item-title-container">
        <p class="home__item-title">A popular model of a modern...</p>
        <p class="home__item-time">24d</p>
      </div>
    </div>
  </div>
  <div class="home__item-container">
    <img alt="img-8" class="home__item-img" src="assets/img/home-img/Img-8.png">

    <div class="home__item-about">
      <div class="home__item-price-container">
        <p class="home__item-price">1 000 $</p>
        <img alt="Favorite" src="assets/img/Favorite.svg">
      </div>

      <div class="home__item-title-container">
        <p class="home__item-title">A popular model of a modern...</p>
        <p class="home__item-time">24d</p>
      </div>
    </div>
  </div>
</div>
<div class="btn__container">
  <div class="btn">More</div>
</div>
