<a (click)="toggleForm($event)" class="open-form" href="#">Open FORM</a>
<a (click)="toggleItem($event)" class="open-item" href="#">Open Item</a>
<a (click)="toggleHome($event)" class="open-home" href="#">Open Home</a>
<a (click)="toggleProfile($event)" class="open-profile" href="#">Open Profile</a>
<a (click)="toggleProductCard($event)" class="open-product-card" href="#">Open Product Card</a>
<a (click)="toggleFavorite($event)" class="open-favorite" href="#">Open Favorite</a>

<app-form-container *ngIf="isFormVisible"></app-form-container>

<app-create-an-item *ngIf="isItemVisible"></app-create-an-item>

<app-home *ngIf="isHomeVisible"></app-home>

<app-profile *ngIf="isProfileVisible"></app-profile>

<app-product-card *ngIf="isProductCardVisible"></app-product-card>

<app-favorite *ngIf="isFavoriteVisible"></app-favorite>
