.open-form {
  padding: 10px 30px;
  position: absolute;
  top: 10px;
  left: 10px;
  border: 2px solid black;
}

.open-item {
  padding: 10px 30px;
  position: absolute;
  top: 10px;
  left: 200px;
  border: 2px solid black;
}

.open-home {
  padding: 10px 30px;
  position: absolute;
  top: 10px;
  left: 350px;
  border: 2px solid black;
}

.open-profile {
  padding: 10px 30px;
  position: absolute;
  top: 10px;
  left: 550px;
  border: 2px solid black;
}

.open-product-card {
  padding: 10px 30px;
  position: absolute;
  top: 10px;
  left: 720px;
  border: 2px solid black;
}

.open-favorite {
  padding: 10px 30px;
  position: absolute;
  top: 10px;
  left: 940px;
  border: 2px solid black;
}

.open-filter {
  padding: 10px 30px;
  position: absolute;
  top: 10px;
  left: 1100px;
  border: 2px solid black;
}
