<div class="header"></div>

<div class="container">
  <div class="personal__container">
    <div class="personal">
      <div class="personal__profile">
        <img alt="profile-img" class="personal__profile-img" src="assets/img/profile/profile-img.png">

        <h3 class="personal__profile-name">Jessica Hanson</h3>
      </div>

      <div class="personal__info">
        <span>example@gmail.com</span>
        <span class="personal__info-line"></span>
        <span>+380 406 555 120</span>
      </div>
    </div>

    <img alt="setting" src="assets/img/profile/Setting.svg">
  </div>

  <div>
    <div>
      <span>
        <img alt="locking" src="assets/img/profile/Locking.svg">
        <p>Reset Password</p>
      </span>

      <img alt="setting" src="assets/img/profile/Setting.svg">
    </div>

    <div>
      <span>
        <img alt="notification" src="assets/img/profile/Notifications.svg">
        <p>Notifications</p>
      </span>

      <img alt="" src="assets/img/profile/Switchers.svg">
    </div>

    <div>
      <span>
        <img alt="favorites" src="assets/img/profile/Favorite.svg">
        <p>Favorites</p>
      </span>

      <img alt="arrow" src="assets/img/profile/Arrow.svg">
    </div>

    <div>
      <span>
        <img alt="ads" src="assets/img/profile/Ads.svg">
        <p>Created ads</p>
      </span>

      <img alt="arrow" src="assets/img/profile/Arrow.svg">
    </div>
  </div>
</div>
