<div class="overlay"></div>

<div class="editing__container">
  <div class="editing__title-container">
    <img alt="arrow" src="assets/img/editing/Arrow%20.svg">

    <h3 class="editing__title">Profile editing</h3>

    <img alt="closes" src="assets/img/editing/Closes.svg">
  </div>

  <div class="editing__photo-container">
    <img alt="photo" class="editing__photo" src="assets/img/profile/profile-img.png">

    <div class="editing__photo-change">
      <img alt="camera" class="editing__photo-change-icon" src="assets/img/editing/Camera.svg">

      <p class="editing__photo-change-text">Сhange photo</p>
    </div>
  </div>
</div>
