@import "assets/normalize.css/normalize.css";

* {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  text-decoration: none;
}
